{
  "openapi": "3.0.3",
  "info": {
    "title": "BuscoBien — Software Design Document",
    "version": "1.0.0",
    "description": "SDD reverse-engineered from /mnt/buscobien Flutter app and inferred API behavior from client code. Platform-aware, token-driven, real-time social/groups/messaging, geolocation and PDF generation.",
    "contact": {
      "name": "Alfonso Mireles",
      "url": "https://buscobien.net"
    }
  },
  "servers": [
    {
      "url": "https://citigov.cloud:6984",
      "description": "CouchDB direct exposure (legacy/internal). Client SHOULD NOT connect directly in production."
    },
    {
      "url": "https://api.buscobien.net",
      "description": "Node.js API gateway (canonical backend)"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login with username, password and profile selection",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated. Returns access_token and user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register new user",
        "operationId": "register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "409": {
            "description": "Email already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/recovery/request": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Request password reset token",
        "operationId": "requestRecovery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token sent to email."
          },
          "404": {
            "description": "Email not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/recovery/confirm": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Confirm recovery token and set new password",
        "operationId": "confirmRecovery",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perfil",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["usuario", "promotor", "propietario", "anfitrion", "vendedor", "especialista", "proveedor", "asociacion", "inmobiliaria"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed."
          },
          "400": {
            "description": "Invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/properties/search": {
      "get": {
        "tags": ["Properties"],
        "summary": "Search properties with filters and pagination",
        "operationId": "searchProperties",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "nivelGobierno",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoEspacio",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoTransaccion",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "colonia",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "municipio",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated property list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertySearchResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Properties"],
        "summary": "Create property listing",
        "operationId": "createProperty",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyDocument"
                }
              }
            }
          }
        }
      }
    },
    "/properties/search/count": {
      "get": {
        "tags": ["Properties"],
        "summary": "Count properties matching filters",
        "operationId": "countProperties",
        "parameters": [
          {
            "name": "nivelGobierno",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoEspacio",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoTransaccion",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Count object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyCount"
                }
              }
            }
          }
        }
      }
    },
    "/properties/{id}": {
      "get": {
        "tags": ["Properties"],
        "summary": "Get property detail by id",
        "operationId": "getProperty",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyDocument"
                }
              }
            }
          },
          "404": {
            "description": "Property not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/properties/{id}/pdf": {
      "get": {
        "tags": ["Properties"],
        "summary": "Generate and download PDF of property",
        "operationId": "propertyPdf",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF binary.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/properties/{id}/like": {
      "post": {
        "tags": ["Properties"],
        "summary": "Toggle like on property",
        "operationId": "toggleLike",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liked state returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/lookup": {
      "get": {
        "tags": ["Locations"],
        "summary": "Resolve location by postal code or query",
        "operationId": "lookupLocation",
        "parameters": [
          {
            "name": "cp",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResults"
                }
              }
            }
          }
        }
      }
    },
    "/locations/user": {
      "get": {
        "tags": ["Locations"],
        "summary": "Get user saved locations",
        "operationId": "getUserLocations",
        "responses": {
          "200": {
            "description": "User locations list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Locations"],
        "summary": "Attach location to user",
        "operationId": "addUserLocation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationEntry"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Location attached."
          }
        }
      }
    },
    "/locations/gmaps": {
      "get": {
        "tags": ["Locations"],
        "summary": "Google Maps place search",
        "operationId": "gmapsSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GMaps results."
          }
        }
      }
    },
    "/lists/user": {
      "get": {
        "tags": ["Lists"],
        "summary": "Get lists for current user",
        "operationId": "getUserLists",
        "responses": {
          "200": {
            "description": "User lists array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserList"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Lists"],
        "summary": "Create list for current user",
        "operationId": "createUserList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserListInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "List created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          }
        }
      }
    },
    "/lists/{id}": {
      "delete": {
        "tags": ["Lists"],
        "summary": "Delete list by id",
        "operationId": "deleteList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rev",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          }
        }
      }
    },
    "/lists/{listId}/properties/{propertyId}": {
      "post": {
        "tags": ["Lists"],
        "summary": "Add property to list",
        "operationId": "addPropertyToList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Relation created."
          }
        }
      },
      "delete": {
        "tags": ["Lists"],
        "summary": "Remove property from list",
        "operationId": "removePropertyFromList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relation removed."
          }
        }
      }
    },
    "/lists/share": {
      "post": {
        "tags": ["Lists"],
        "summary": "Share list with known users or groups",
        "operationId": "shareList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shared."
          }
        }
      }
    },
    "/social/known/invite": {
      "post": {
        "tags": ["Social"],
        "summary": "Send known-user invitation",
        "operationId": "inviteKnown",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnownInviteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation created."
          }
        }
      }
    },
    "/social/known/contacts": {
      "get": {
        "tags": ["Social"],
        "summary": "Get known contacts/known users",
        "operationId": "getKnownContacts",
        "responses": {
          "200": {
            "description": "Contacts list."
          }
        }
      }
    },
    "/social/known/chat": {
      "get": {
        "tags": ["Social"],
        "summary": "Get 1-to-1 conversation messages",
        "operationId": "getKnownMessages",
        "parameters": [
          {
            "name": "contactId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages array."
          }
        }
      },
      "post": {
        "tags": ["Social"],
        "summary": "Send message to known contact",
        "operationId": "sendKnownMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnownMessageInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created."
          }
        }
      }
    },
    "/social/groups": {
      "get": {
        "tags": ["Social"],
        "summary": "List groups for current user",
        "operationId": "listGroups",
        "responses": {
          "200": {
            "description": "Groups array."
          }
        }
      },
      "post": {
        "tags": ["Social"],
        "summary": "Create group",
        "operationId": "createGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      }
    },
    "/social/groups/available": {
      "get": {
        "tags": ["Social"],
        "summary": "Discover available groups",
        "operationId": "discoverGroups",
        "responses": {
          "200": {
            "description": "Discoverable groups."
          }
        }
      }
    },
    "/social/groups/invitations": {
      "get": {
        "tags": ["Social"],
        "summary": "Get group invitations for current user",
        "operationId": "getGroupInvitations",
        "responses": {
          "200": {
            "description": "Invitations array."
          }
        }
      },
      "post": {
        "tags": ["Social"],
        "summary": "Send group invitation",
        "operationId": "inviteToGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInviteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation created."
          }
        }
      }
    },
    "/social/groups/{id}/chat": {
      "get": {
        "tags": ["Social"],
        "summary": "Get group chat messages",
        "operationId": "getGroupMessages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages array."
          }
        }
      },
      "post": {
        "tags": ["Social"],
        "summary": "Send group message",
        "operationId": "sendGroupMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMessageInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created."
          }
        }
      }
    },
    "/media/upload": {
      "post": {
        "tags": ["Media"],
        "summary": "Upload image",
        "operationId": "uploadImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Image uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageDocument"
                }
              }
            }
          }
        }
      }
    },
    "/media/{id}/order": {
      "post": {
        "tags": ["Media"],
        "summary": "Reorder images for property",
        "operationId": "orderImages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageOrderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated."
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": ["Notifications"],
        "summary": "Get notifications",
        "operationId": "listNotifications",
        "responses": {
          "200": {
            "description": "Notifications list."
          }
        }
      }
    },
    "/stats/user": {
      "get": {
        "tags": ["Stats"],
        "summary": "User statistics",
        "operationId": "userStats",
        "responses": {
          "200": {
            "description": "User stats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserStats"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health check",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": ["username", "password", "perfil"],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "perfil": {
            "type": "string",
            "enum": ["usuario", "promotor", "propietario", "anfitrion", "vendedor", "especialista", "proveedor", "asociacion", "inmobiliaria"]
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["username", "email", "password", "perfil"],
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "perfil": {
            "type": "string",
            "enum": ["usuario", "promotor", "propietario", "anfitrion", "vendedor", "especialista", "proveedor", "asociacion", "inmobiliaria"]
          },
          "birthDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "perfil": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date-time"
          },
          "avatar": {
            "type": "string"
          },
          "contact": {
            "$ref": "#/components/schemas/UserContact"
          },
          "location": {
            "$ref": "#/components/schemas/UserLocation"
          },
          "promotor": {
            "$ref": "#/components/schemas/UserPromotor"
          }
        }
      },
      "UserContact": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "social": {
            "type": "string"
          }
        }
      },
      "UserLocation": {
        "type": "object",
        "properties": {
          "cp": {
            "type": "string"
          },
          "colonia": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          },
          "estado": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "format": "float"
          },
          "lng": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "UserPromotor": {
        "type": "object",
        "properties": {
          "company": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          }
        }
      },
      "PasswordChangeRequest": {
        "type": "object",
        "required": ["password"],
        "properties": {
          "password": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "PropertyInput": {
        "type": "object",
        "required": ["tipoEspacio", "tipoTransaccion", "locality"],
        "properties": {
          "tipoEspacio": {
            "type": "string"
          },
          "tipoTransaccion": {
            "type": "string"
          },
          "locality": {
            "$ref": "#/components/schemas/PropertyLocality"
          },
          "contact": {
            "$ref": "#/components/schemas/PropertyContact"
          },
          "additional": {
            "$ref": "#/components/schemas/PropertyAdditional"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publicationStart": {
            "type": "string",
            "format": "date-time"
          },
          "publicationEnd": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PropertyLocality": {
        "type": "object",
        "properties": {
          "cp": {
            "type": "string"
          },
          "colonia": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          },
          "nivelGobierno": {
            "type": "string"
          }
        }
      },
      "PropertyContact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "PropertyAdditional": {
        "type": "object",
        "properties": {
          "surfaceM2": {
            "type": "number",
            "format": "float"
          },
          "rooms": {
            "type": "integer"
          },
          "bathrooms": {
            "type": "integer"
          },
          "parking": {
            "type": "integer"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PropertyDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "rev": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "tipoEspacio": {
            "type": "string"
          },
          "tipoTransaccion": {
            "type": "string"
          },
          "locality": {
            "$ref": "#/components/schemas/PropertyLocality"
          },
          "contact": {
            "$ref": "#/components/schemas/PropertyContact"
          },
          "additional": {
            "$ref": "#/components/schemas/PropertyAdditional"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publicationStart": {
            "type": "string",
            "format": "date-time"
          },
          "publicationEnd": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PropertySearchResult": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropertyDocument"
            }
          },
          "total": {
            "type": "integer"
          },
          "skip": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "PropertyCount": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          }
        }
      },
      "LikeResponse": {
        "type": "object",
        "properties": {
          "liked": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "LocationResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocationResultItem"
            }
          }
        }
      },
      "LocationResultItem": {
        "type": "object",
        "properties": {
          "cp": {
            "type": "string"
          },
          "colonia": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          }
        }
      },
      "LocationEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "cp": {
            "type": "string"
          },
          "colonia": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          },
          "nivelGobierno": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "format": "float"
          },
          "lng": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "UserList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "listName": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserListInput": {
        "type": "object",
        "required": ["listName"],
        "properties": {
          "listName": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ShareListRequest": {
        "type": "object",
        "properties": {
          "listId": {
            "type": "string"
          },
          "targets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxTargets": {
            "type": "integer",
            "default": 5
          }
        }
      },
      "KnownInviteRequest": {
        "type": "object",
        "required": ["targetUserId"],
        "properties": {
          "targetUserId": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        }
      },
      "KnownMessageInput": {
        "type": "object",
        "required": ["contactId", "body"],
        "properties": {
          "contactId": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "GroupInput": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "members": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GroupInviteRequest": {
        "type": "object",
        "required": ["groupId", "targetUserId"],
        "properties": {
          "groupId": {
            "type": "string"
          },
          "targetUserId": {
            "type": "string"
          }
        }
      },
      "GroupMessageInput": {
        "type": "object",
        "required": ["groupId", "body"],
        "properties": {
          "groupId": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "ImageUploadRequest": {
        "type": "object",
        "properties": {
          "propertyId": {
            "type": "string"
          },
          "file": {
            "type": "string",
            "format": "binary"
          },
          "order": {
            "type": "integer"
          }
        }
      },
      "ImageDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "propertyId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ImageOrderInput": {
        "type": "object",
        "properties": {
          "orderedIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UserStats": {
        "type": "object",
        "properties": {
          "propertiesCount": {
            "type": "integer"
          },
          "listsCount": {
            "type": "integer"
          },
          "contactsCount": {
            "type": "integer"
          },
          "groupsCount": {
            "type": "integer"
          }
        }
      }
    }
  },
  "x-flutter-app": {
    "name": "buscobien",
    "version": "1.0.0+1",
    "sdk": ">=3.2.3 <4.0.0",
    "platforms": ["android", "ios", "web", "windows", "macos", "linux"],
    "stateManagement": "riverpod_3",
    "build": {
      "web": "--wasm",
      "secrets": "--dart-define-from-file=defines.json",
      "platformBundles": {
        "webJson": "flutter_dotenv",
        "webKeys": "--dart-define"
      }
    },
    "urlStrategy": {
      "enabled": true,
      "api": "setPathUrlStrategy"
    },
    "navigation": {
      "style": "Manual routeGenerate onGenerateRoute",
      "deepLinks": "/recuperar?token=&perfil="
    },
    "storage": {
      "mobile": "flutter_secure_storage",
      "desktop_web": "shared_preferences",
      "sessionRepoSwappable": true
    },
    "modules": [
      "01_splash_screen",
      "01_home",
      "02_principal_screen",
      "03_listas",
      "03_vistas",
      "04_provider",
      "05_provider_menus",
      "07_routes",
      "08_pantallas/inicio",
      "08_pantallas/perfil",
      "08_pantallas/propiedades",
      "08_pantallas/ubicacion",
      "08_pantallas/tu_cuenta",
      "08_pantallas/tu_cuenta/conocidos",
      "08_pantallas/tu_cuenta/grupos",
      "08_pantallas/tu_cuenta/tus_espacios",
      "10_user_login",
      "10_user_login/avatar",
      "10_user_login/data_models",
      "10_user_login/usuario_login",
      "12_localidades_user",
      "14_geolocalizacion",
      "20_var_globales",
      "22_imagenes",
      "40_security",
      "41_connectivity",
      "42_sistema_operativo",
      "60_global_widgets"
    ]
  },
  "x-data-model": {
    "servers": ["buscobien_usuarios", "buscobien_usuarios_promotores", "buscobien_invitaciones", "buscobien_mensajes", "buscobien_grupos", "buscobien_grupos_invitaciones", "buscobien_grupos_mensajes", "buscobien_listas_propiedades", "buscobien_imagenes"],
    "prefix": "buscobien_",
    "idSemantics": "prefix:uuid",
    "query": "Mango"
  },
  "x-rnf": [
    {
      "id": "RNF-1",
      "text": "Multiplatform native behavior on iOS, Android, Web WASM and Windows."
    },
    {
      "id": "RNF-2",
      "text": "Reactive state with Riverpod + Freezed."
    },
    {
      "id": "RNF-3",
      "text": "Differentiated secure/non-secure session persistence."
    },
    {
      "id": "RNF-4",
      "text": "CouchDB JSON serialization without heavy locks."
    },
    {
      "id": "RNF-5",
      "text": "Deep links for critical recovery flow."
    },
    {
      "id": "RNF-6",
      "text": "Google Maps integrated for properties and localities."
    }
  ],
  "x-risks": [
    {
      "level": "high",
      "description": "Hardcoded Basic auth-like username/password in client paths and direct CouchDB code in some clients."
    },
    {
      "level": "high",
      "description": "CouchDB mutations by _deleted PUT depend on _rev; fragile under conflict."
    },
    {
      "level": "medium",
      "description": "Reactive architecture mixed with mutable global flags and unversioned 'Fase X' logic."
    }
  ],
  "x-limitations": [
    "This SDD is derived only from code reading in /mnt/buscobien.",
    "Backend repository is separate and its contracts are inferred from Flutter HTTP clients.",
    "No formal API spec existed prior to this extraction."
  ]
}
